#stars-container {
	z-index: -1;
	position: fixed;
	top: 0;
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 73px 1102px #ffffff, 463px 1073px #ffffff, 1587px 1647px #ffffff,
		1469px 938px #ffffff, 309px 581px #ffffff, 1759px 339px #ffffff,
		854px 1198px #ffffff, 1747px 90px #ffffff, 606px 331px #ffffff,
		1525px 41px #ffffff, 1044px 516px #ffffff, 1982px 310px #ffffff,
		1564px 745px #ffffff, 536px 41px #ffffff, 570px 967px #ffffff,
		1104px 441px #ffffff, 389px 1065px #ffffff, 1033px 1951px #ffffff,
		1120px 424px #ffffff, 347px 1436px #ffffff, 765px 1710px #ffffff,
		385px 1866px #ffffff, 1155px 692px #ffffff, 1302px 1955px #ffffff,
		345px 1745px #ffffff, 1269px 1603px #ffffff, 1641px 198px #ffffff,
		1757px 359px #ffffff, 1280px 1888px #ffffff, 886px 1107px #ffffff,
		1310px 1692px #ffffff, 767px 795px #ffffff, 825px 630px #ffffff,
		1651px 551px #ffffff, 155px 1535px #ffffff, 1471px 1645px #ffffff,
		714px 144px #ffffff, 1584px 137px #ffffff, 690px 1826px #ffffff,
		1296px 1877px #ffffff, 1976px 1183px #ffffff, 1258px 596px #ffffff,
		308px 27px #ffffff, 1160px 743px #ffffff, 1706px 1170px #ffffff,
		1660px 650px #ffffff, 1029px 544px #ffffff, 889px 1266px #ffffff,
		1789px 790px #ffffff, 895px 1049px #ffffff, 1846px 884px #ffffff,
		1983px 382px #ffffff, 1674px 729px #ffffff, 1845px 1496px #ffffff,
		1297px 1261px #ffffff, 852px 591px #ffffff, 1748px 553px #ffffff,
		688px 738px #ffffff, 908px 1363px #ffffff, 1035px 1535px #ffffff,
		1746px 657px #ffffff, 1098px 1730px #ffffff, 193px 1158px #ffffff,
		708px 1671px #ffffff, 1314px 1635px #ffffff, 455px 1652px #ffffff,
		1918px 1116px #ffffff, 806px 892px #ffffff, 692px 1867px #ffffff,
		1232px 692px #ffffff, 452px 250px #ffffff, 1680px 1942px #ffffff,
		1325px 1880px #ffffff, 1521px 1063px #ffffff, 948px 1376px #ffffff,
		901px 1335px #ffffff, 1918px 1943px #ffffff, 1403px 1577px #ffffff,
		1776px 620px #ffffff, 1911px 806px #ffffff, 384px 854px #ffffff,
		822px 1128px #ffffff, 1547px 695px #ffffff, 1012px 294px #ffffff,
		742px 1891px #ffffff, 1233px 1717px #ffffff, 1452px 1562px #ffffff,
		1409px 1038px #ffffff, 1419px 1011px #ffffff, 1158px 831px #ffffff,
		1189px 1777px #ffffff, 1823px 1486px #ffffff, 1184px 1176px #ffffff,
		374px 501px #ffffff, 1072px 206px #ffffff, 1644px 1855px #ffffff,
		1646px 1733px #ffffff, 1693px 1017px #ffffff, 390px 1260px #ffffff,
		1201px 1133px #ffffff, 192px 1287px #ffffff, 893px 442px #ffffff,
		1446px 1119px #ffffff, 729px 934px #ffffff, 820px 233px #ffffff,
		723px 1219px #ffffff, 1697px 887px #ffffff, 1541px 266px #ffffff,
		1359px 548px #ffffff, 337px 914px #ffffff, 1502px 1887px #ffffff,
		1951px 797px #ffffff, 16px 1637px #ffffff, 158px 435px #ffffff,
		726px 179px #ffffff, 1681px 1957px #ffffff, 700px 77px #ffffff,
		194px 1741px #ffffff, 285px 1858px #ffffff, 1370px 1493px #ffffff,
		108px 341px #ffffff, 615px 116px #ffffff, 196px 1682px #ffffff,
		1630px 625px #ffffff, 1271px 1598px #ffffff, 1720px 921px #ffffff,
		477px 326px #ffffff, 925px 1959px #ffffff, 1570px 1458px #ffffff,
		1555px 486px #ffffff, 335px 1445px #ffffff, 1437px 1906px #ffffff,
		1199px 705px #ffffff, 1068px 891px #ffffff, 1516px 1565px #ffffff,
		1273px 1049px #ffffff, 1053px 220px #ffffff, 1426px 577px #ffffff,
		788px 470px #ffffff, 704px 1410px #ffffff, 939px 801px #ffffff,
		1884px 833px #ffffff, 1494px 84px #ffffff, 1747px 83px #ffffff,
		1106px 1817px #ffffff, 1570px 584px #ffffff, 587px 1555px #ffffff,
		1782px 1336px #ffffff, 500px 628px #ffffff, 1029px 1587px #ffffff,
		1267px 361px #ffffff, 981px 657px #ffffff, 369px 372px #ffffff,
		1602px 151px #ffffff, 1320px 424px #ffffff, 750px 1050px #ffffff,
		1626px 50px #ffffff, 1311px 1942px #ffffff, 1564px 654px #ffffff,
		448px 1468px #ffffff, 287px 1912px #ffffff, 1269px 1079px #ffffff,
		996px 1522px #ffffff, 660px 1089px #ffffff, 751px 1923px #ffffff,
		97px 95px #ffffff, 1721px 1692px #ffffff, 21px 1874px #ffffff,
		1819px 1628px #ffffff, 563px 465px #ffffff, 786px 72px #ffffff,
		1610px 917px #ffffff, 510px 1931px #ffffff, 1234px 781px #ffffff,
		1006px 1369px #ffffff, 1015px 1037px #ffffff, 222px 591px #ffffff,
		1064px 1429px #ffffff, 549px 1326px #ffffff, 1869px 1664px #ffffff,
		1535px 1441px #ffffff, 1803px 808px #ffffff, 1686px 349px #ffffff,
		1683px 804px #ffffff, 918px 317px #ffffff, 723px 125px #ffffff,
		1578px 466px #ffffff, 1946px 111px #ffffff, 333px 1065px #ffffff,
		929px 1597px #ffffff, 1639px 716px #ffffff, 201px 1987px #ffffff,
		315px 239px #ffffff, 817px 910px #ffffff, 1731px 463px #ffffff,
		884px 1126px #ffffff, 918px 1590px #ffffff, 813px 467px #ffffff,
		13px 1465px #ffffff, 484px 1919px #ffffff, 1142px 1303px #ffffff,
		1496px 1135px #ffffff, 988px 424px #ffffff, 1991px 1505px #ffffff,
		207px 1569px #ffffff, 1025px 485px #ffffff, 797px 1645px #ffffff,
		344px 1625px #ffffff, 1442px 620px #ffffff, 1868px 1554px #ffffff,
		1217px 1118px #ffffff, 353px 383px #ffffff, 1223px 179px #ffffff,
		1481px 1698px #ffffff, 611px 1288px #ffffff, 762px 1845px #ffffff,
		654px 1062px #ffffff, 109px 116px #ffffff, 1135px 1692px #ffffff,
		1738px 1373px #ffffff, 1749px 235px #ffffff, 199px 770px #ffffff,
		1283px 115px #ffffff, 1350px 197px #ffffff, 553px 745px #ffffff,
		1490px 64px #ffffff, 1961px 65px #ffffff, 116px 294px #ffffff,
		382px 1675px #ffffff, 1386px 1192px #ffffff, 1479px 1618px #ffffff,
		1984px 1667px #ffffff, 1080px 1933px #ffffff, 939px 697px #ffffff,
		1251px 40px #ffffff, 1654px 395px #ffffff, 1063px 1440px #ffffff,
		1711px 852px #ffffff, 1035px 1904px #ffffff, 926px 378px #ffffff,
		1356px 279px #ffffff, 925px 1686px #ffffff, 1575px 32px #ffffff,
		1638px 1111px #ffffff, 752px 1017px #ffffff, 121px 974px #ffffff,
		231px 394px #ffffff, 1658px 985px #ffffff, 915px 402px #ffffff,
		1089px 530px #ffffff, 1745px 490px #ffffff, 1739px 42px #ffffff,
		347px 1578px #ffffff, 361px 174px #ffffff, 893px 1172px #ffffff,
		1464px 1129px #ffffff, 896px 1380px #ffffff, 1235px 526px #ffffff,
		258px 1568px #ffffff, 571px 140px #ffffff, 1592px 782px #ffffff,
		358px 1636px #ffffff, 862px 135px #ffffff, 514px 1300px #ffffff,
		228px 129px #ffffff, 831px 1513px #ffffff, 1026px 1364px #ffffff,
		1703px 1927px #ffffff, 567px 933px #ffffff, 430px 468px #ffffff,
		1757px 680px #ffffff, 1902px 1223px #ffffff, 289px 1264px #ffffff,
		1155px 1419px #ffffff, 1369px 1449px #ffffff, 468px 1716px #ffffff,
		1649px 1174px #ffffff, 1838px 1870px #ffffff, 492px 395px #ffffff,
		1194px 120px #ffffff, 980px 349px #ffffff, 476px 251px #ffffff,
		1227px 1961px #ffffff, 1309px 99px #ffffff, 126px 1289px #ffffff,
		289px 399px #ffffff, 655px 957px #ffffff, 1192px 383px #ffffff,
		630px 107px #ffffff, 733px 281px #ffffff, 1764px 1684px #ffffff,
		1259px 980px #ffffff, 106px 1504px #ffffff, 1696px 1325px #ffffff,
		241px 487px #ffffff, 1304px 1394px #ffffff, 139px 1837px #ffffff,
		931px 1432px #ffffff, 1px 855px #ffffff, 1645px 537px #ffffff,
		1516px 279px #ffffff, 1px 1453px #ffffff, 479px 410px #ffffff,
		442px 197px #ffffff, 1277px 610px #ffffff, 1552px 261px #ffffff,
		199px 1328px #ffffff, 1790px 1422px #ffffff, 925px 944px #ffffff,
		1022px 1331px #ffffff, 1835px 21px #ffffff, 1815px 1308px #ffffff,
		941px 1120px #ffffff, 1361px 1433px #ffffff, 1552px 833px #ffffff,
		1190px 1976px #ffffff, 1062px 1623px #ffffff, 1499px 1468px #ffffff,
		1063px 1202px #ffffff, 436px 1437px #ffffff, 1443px 217px #ffffff,
		1091px 620px #ffffff, 305px 114px #ffffff, 1577px 135px #ffffff,
		1233px 1999px #ffffff, 693px 846px #ffffff, 472px 842px #ffffff,
		1915px 649px #ffffff, 1643px 1304px #ffffff, 1779px 1402px #ffffff,
		1091px 198px #ffffff, 1960px 1803px #ffffff, 1074px 240px #ffffff,
		1548px 537px #ffffff, 1439px 150px #ffffff, 1151px 1055px #ffffff,
		835px 1793px #ffffff, 376px 509px #ffffff, 701px 1376px #ffffff,
		544px 1624px #ffffff, 1301px 261px #ffffff, 155px 1568px #ffffff,
		322px 438px #ffffff, 389px 189px #ffffff, 176px 1239px #ffffff,
		1153px 1795px #ffffff, 1363px 1840px #ffffff, 1362px 1020px #ffffff,
		1607px 1104px #ffffff, 932px 1341px #ffffff, 983px 636px #ffffff,
		1348px 405px #ffffff, 1944px 1480px #ffffff, 1975px 1105px #ffffff,
		223px 1416px #ffffff, 1979px 1793px #ffffff, 1690px 965px #ffffff,
		377px 1994px #ffffff, 647px 1858px #ffffff, 953px 1308px #ffffff,
		876px 806px #ffffff, 1718px 612px #ffffff, 125px 707px #ffffff,
		1368px 939px #ffffff, 1076px 485px #ffffff, 1298px 1180px #ffffff,
		456px 1121px #ffffff, 1767px 204px #ffffff, 1724px 1529px #ffffff,
		1379px 792px #ffffff, 1689px 992px #ffffff, 584px 1224px #ffffff,
		752px 1229px #ffffff, 1623px 1444px #ffffff, 297px 696px #ffffff,
		507px 419px #ffffff, 282px 1369px #ffffff, 1350px 1608px #ffffff,
		226px 1252px #ffffff, 1957px 687px #ffffff, 846px 612px #ffffff,
		7px 1774px #ffffff, 632px 1954px #ffffff, 1851px 1768px #ffffff,
		1605px 655px #ffffff, 1040px 1664px #ffffff, 1918px 1186px #ffffff,
		1978px 408px #ffffff, 892px 1726px #ffffff, 1991px 1633px #ffffff,
		995px 495px #ffffff, 1632px 1944px #ffffff, 806px 93px #ffffff,
		712px 810px #ffffff, 1284px 37px #ffffff, 1856px 874px #ffffff,
		1854px 929px #ffffff, 573px 1618px #ffffff, 845px 199px #ffffff,
		783px 1449px #ffffff, 1624px 140px #ffffff, 906px 994px #ffffff,
		1639px 1727px #ffffff, 1285px 415px #ffffff, 1533px 838px #ffffff,
		1895px 1077px #ffffff, 24px 885px #ffffff, 967px 1977px #ffffff,
		1478px 1582px #ffffff, 1790px 515px #ffffff, 1026px 1525px #ffffff,
		299px 385px #ffffff, 747px 1175px #ffffff, 1108px 1557px #ffffff,
		1692px 119px #ffffff, 1004px 885px #ffffff, 1552px 1175px #ffffff,
		1284px 1463px #ffffff, 320px 1217px #ffffff, 745px 1109px #ffffff,
		68px 836px #ffffff, 1516px 65px #ffffff, 1915px 1074px #ffffff,
		1270px 616px #ffffff, 347px 1051px #ffffff, 515px 536px #ffffff,
		375px 868px #ffffff, 717px 158px #ffffff, 1238px 470px #ffffff,
		1303px 276px #ffffff, 1333px 11px #ffffff, 1551px 293px #ffffff,
		1118px 1493px #ffffff, 1963px 1440px #ffffff, 631px 110px #ffffff,
		1802px 1616px #ffffff, 1645px 361px #ffffff, 1059px 585px #ffffff,
		1861px 146px #ffffff, 1513px 1051px #ffffff, 1286px 629px #ffffff,
		1848px 1566px #ffffff, 667px 1405px #ffffff, 1192px 929px #ffffff,
		617px 6px #ffffff, 1088px 1756px #ffffff, 1850px 288px #ffffff,
		1577px 445px #ffffff, 1715px 1717px #ffffff, 1779px 1950px #ffffff,
		948px 999px #ffffff, 643px 798px #ffffff, 1155px 88px #ffffff,
		1928px 73px #ffffff, 78px 1723px #ffffff, 523px 983px #ffffff,
		1636px 1071px #ffffff, 918px 665px #ffffff, 1221px 261px #ffffff,
		457px 1668px #ffffff, 711px 1816px #ffffff, 1506px 1263px #ffffff,
		1130px 1603px #ffffff, 1341px 1282px #ffffff, 1906px 1353px #ffffff,
		1681px 339px #ffffff, 1286px 1942px #ffffff, 408px 573px #ffffff,
		1309px 79px #ffffff, 310px 1110px #ffffff, 468px 1524px #ffffff,
		593px 1528px #ffffff, 1738px 199px #ffffff, 267px 1269px #ffffff,
		1113px 143px #ffffff, 631px 585px #ffffff, 873px 1367px #ffffff,
		1920px 792px #ffffff, 1120px 256px #ffffff, 1898px 1481px #ffffff,
		1562px 1859px #ffffff, 186px 193px #ffffff, 134px 1114px #ffffff,
		766px 986px #ffffff, 137px 417px #ffffff, 272px 1854px #ffffff,
		1965px 1758px #ffffff, 1171px 1923px #ffffff, 268px 892px #ffffff,
		952px 1827px #ffffff, 508px 287px #ffffff, 1237px 94px #ffffff,
		423px 256px #ffffff, 1654px 593px #ffffff, 1812px 1631px #ffffff,
		1009px 1643px #ffffff, 1547px 1384px #ffffff, 1052px 1587px #ffffff,
		1784px 1056px #ffffff, 702px 1519px #ffffff, 323px 1133px #ffffff,
		7px 149px #ffffff, 402px 802px #ffffff, 4px 1483px #ffffff,
		1657px 1604px #ffffff, 1758px 947px #ffffff, 1927px 340px #ffffff,
		290px 309px #ffffff, 16px 1319px #ffffff, 1210px 358px #ffffff,
		1120px 1617px #ffffff, 111px 1761px #ffffff, 1824px 1075px #ffffff,
		1948px 546px #ffffff, 1266px 1952px #ffffff, 1048px 1982px #ffffff,
		251px 1519px #ffffff, 463px 1551px #ffffff, 953px 1985px #ffffff,
		436px 1990px #ffffff, 118px 339px #ffffff, 926px 1534px #ffffff,
		1941px 40px #ffffff, 98px 1447px #ffffff, 374px 637px #ffffff,
		147px 961px #ffffff, 732px 1487px #ffffff, 27px 854px #ffffff,
		1277px 160px #ffffff, 1482px 210px #ffffff, 512px 1117px #ffffff,
		14px 1275px #ffffff, 1179px 1709px #ffffff, 1240px 1851px #ffffff,
		1456px 891px #ffffff, 835px 20px #ffffff, 1528px 1517px #ffffff,
		1839px 1463px #ffffff, 1544px 1911px #ffffff, 427px 17px #ffffff,
		974px 1897px #ffffff, 669px 13px #ffffff, 1365px 473px #ffffff,
		1831px 1658px #ffffff, 1928px 13px #ffffff, 489px 1387px #ffffff,
		1792px 1721px #ffffff, 858px 1231px #ffffff, 340px 148px #ffffff,
		1277px 839px #ffffff, 515px 1727px #ffffff, 583px 1722px #ffffff,
		579px 1501px #ffffff, 1421px 384px #ffffff, 1045px 195px #ffffff,
		1162px 1612px #ffffff, 1231px 715px #ffffff, 1745px 828px #ffffff,
		1432px 765px #ffffff, 1604px 582px #ffffff, 934px 226px #ffffff,
		284px 480px #ffffff, 429px 1752px #ffffff, 358px 712px #ffffff,
		1645px 1670px #ffffff, 1741px 988px #ffffff, 1439px 1857px #ffffff,
		1908px 621px #ffffff, 1381px 1033px #ffffff, 1503px 943px #ffffff,
		1920px 1555px #ffffff, 1122px 1624px #ffffff, 1793px 22px #ffffff,
		172px 1456px #ffffff, 245px 581px #ffffff, 1861px 742px #ffffff,
		1985px 88px #ffffff, 567px 1108px #ffffff, 1093px 1953px #ffffff,
		1895px 710px #ffffff, 658px 1140px #ffffff, 1551px 546px #ffffff,
		609px 637px #ffffff, 1146px 1319px #ffffff, 779px 1651px #ffffff,
		1777px 1709px #ffffff, 131px 1997px #ffffff, 2000px 733px #ffffff,
		1459px 1145px #ffffff, 1199px 1514px #ffffff, 1636px 542px #ffffff,
		361px 1304px #ffffff, 280px 1673px #ffffff, 782px 521px #ffffff,
		1923px 1532px #ffffff, 1792px 1116px #ffffff, 1089px 141px #ffffff,
		1460px 1452px #ffffff, 979px 1302px #ffffff, 1833px 554px #ffffff,
		1759px 1049px #ffffff, 1706px 603px #ffffff, 1687px 1628px #ffffff,
		847px 255px #ffffff, 185px 43px #ffffff, 1222px 1441px #ffffff,
		569px 1054px #ffffff, 79px 962px #ffffff, 1461px 136px #ffffff,
		1833px 14px #ffffff, 572px 1047px #ffffff, 1727px 1673px #ffffff,
		1437px 679px #ffffff, 1989px 829px #ffffff, 565px 1116px #ffffff,
		1439px 531px #ffffff, 41px 1416px #ffffff, 1833px 1277px #ffffff,
		1271px 147px #ffffff, 1039px 856px #ffffff, 1731px 671px #ffffff,
		1928px 1918px #ffffff, 51px 1716px #ffffff, 1716px 772px #ffffff,
		1807px 656px #ffffff, 556px 134px #ffffff, 1425px 845px #ffffff,
		1869px 1586px #ffffff, 169px 182px #ffffff, 1033px 478px #ffffff,
		1863px 218px #ffffff, 64px 1975px #ffffff, 760px 680px #ffffff,
		1043px 781px #ffffff, 28px 1308px #ffffff, 639px 1850px #ffffff,
		318px 216px #ffffff, 1045px 429px #ffffff, 549px 459px #ffffff,
		1583px 341px #ffffff, 1827px 89px #ffffff, 1495px 1773px #ffffff,
		1605px 980px #ffffff, 1237px 424px #ffffff, 1266px 318px #ffffff,
		867px 1487px #ffffff, 292px 1591px #ffffff, 1458px 906px #ffffff,
		1482px 665px #ffffff, 1483px 742px #ffffff, 349px 195px #ffffff,
		601px 1315px #ffffff, 1276px 1414px #ffffff, 1085px 1425px #ffffff,
		1698px 720px #ffffff, 1995px 1024px #ffffff, 601px 1923px #ffffff,
		428px 580px #ffffff, 260px 1401px #ffffff, 1241px 1809px #ffffff,
		890px 1977px #ffffff, 1693px 922px #ffffff, 1303px 1660px #ffffff,
		30px 1194px #ffffff, 720px 935px #ffffff, 1050px 341px #ffffff,
		146px 1948px #ffffff, 1382px 28px #ffffff, 851px 1590px #ffffff,
		1032px 553px #ffffff, 1358px 721px #ffffff, 867px 587px #ffffff,
		1640px 790px #ffffff, 1947px 1475px #ffffff, 15px 1666px #ffffff,
		899px 1123px #ffffff, 592px 1200px #ffffff, 1689px 1514px #ffffff,
		735px 1481px #ffffff, 1531px 1759px #ffffff, 1003px 777px #ffffff,
		1688px 427px #ffffff, 797px 1455px #ffffff, 783px 779px #ffffff,
		286px 1991px #ffffff, 708px 763px #ffffff, 173px 935px #ffffff,
		1295px 701px #ffffff, 1742px 888px #ffffff, 1741px 1072px #ffffff,
		948px 1591px #ffffff, 129px 1487px #ffffff, 1765px 756px #ffffff,
		868px 1806px #ffffff, 1089px 776px #ffffff, 455px 566px #ffffff,
		1939px 246px #ffffff, 570px 956px #ffffff, 663px 1043px #ffffff,
		1732px 739px #ffffff;
	animation: animStar 50s linear infinite;
}

#stars:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 73px 1102px #ffffff, 463px 1073px #ffffff, 1587px 1647px #ffffff,
		1469px 938px #ffffff, 309px 581px #ffffff, 1759px 339px #ffffff,
		854px 1198px #ffffff, 1747px 90px #ffffff, 606px 331px #ffffff,
		1525px 41px #ffffff, 1044px 516px #ffffff, 1982px 310px #ffffff,
		1564px 745px #ffffff, 536px 41px #ffffff, 570px 967px #ffffff,
		1104px 441px #ffffff, 389px 1065px #ffffff, 1033px 1951px #ffffff,
		1120px 424px #ffffff, 347px 1436px #ffffff, 765px 1710px #ffffff,
		385px 1866px #ffffff, 1155px 692px #ffffff, 1302px 1955px #ffffff,
		345px 1745px #ffffff, 1269px 1603px #ffffff, 1641px 198px #ffffff,
		1757px 359px #ffffff, 1280px 1888px #ffffff, 886px 1107px #ffffff,
		1310px 1692px #ffffff, 767px 795px #ffffff, 825px 630px #ffffff,
		1651px 551px #ffffff, 155px 1535px #ffffff, 1471px 1645px #ffffff,
		714px 144px #ffffff, 1584px 137px #ffffff, 690px 1826px #ffffff,
		1296px 1877px #ffffff, 1976px 1183px #ffffff, 1258px 596px #ffffff,
		308px 27px #ffffff, 1160px 743px #ffffff, 1706px 1170px #ffffff,
		1660px 650px #ffffff, 1029px 544px #ffffff, 889px 1266px #ffffff,
		1789px 790px #ffffff, 895px 1049px #ffffff, 1846px 884px #ffffff,
		1983px 382px #ffffff, 1674px 729px #ffffff, 1845px 1496px #ffffff,
		1297px 1261px #ffffff, 852px 591px #ffffff, 1748px 553px #ffffff,
		688px 738px #ffffff, 908px 1363px #ffffff, 1035px 1535px #ffffff,
		1746px 657px #ffffff, 1098px 1730px #ffffff, 193px 1158px #ffffff,
		708px 1671px #ffffff, 1314px 1635px #ffffff, 455px 1652px #ffffff,
		1918px 1116px #ffffff, 806px 892px #ffffff, 692px 1867px #ffffff,
		1232px 692px #ffffff, 452px 250px #ffffff, 1680px 1942px #ffffff,
		1325px 1880px #ffffff, 1521px 1063px #ffffff, 948px 1376px #ffffff,
		901px 1335px #ffffff, 1918px 1943px #ffffff, 1403px 1577px #ffffff,
		1776px 620px #ffffff, 1911px 806px #ffffff, 384px 854px #ffffff,
		822px 1128px #ffffff, 1547px 695px #ffffff, 1012px 294px #ffffff,
		742px 1891px #ffffff, 1233px 1717px #ffffff, 1452px 1562px #ffffff,
		1409px 1038px #ffffff, 1419px 1011px #ffffff, 1158px 831px #ffffff,
		1189px 1777px #ffffff, 1823px 1486px #ffffff, 1184px 1176px #ffffff,
		374px 501px #ffffff, 1072px 206px #ffffff, 1644px 1855px #ffffff,
		1646px 1733px #ffffff, 1693px 1017px #ffffff, 390px 1260px #ffffff,
		1201px 1133px #ffffff, 192px 1287px #ffffff, 893px 442px #ffffff,
		1446px 1119px #ffffff, 729px 934px #ffffff, 820px 233px #ffffff,
		723px 1219px #ffffff, 1697px 887px #ffffff, 1541px 266px #ffffff,
		1359px 548px #ffffff, 337px 914px #ffffff, 1502px 1887px #ffffff,
		1951px 797px #ffffff, 16px 1637px #ffffff, 158px 435px #ffffff,
		726px 179px #ffffff, 1681px 1957px #ffffff, 700px 77px #ffffff,
		194px 1741px #ffffff, 285px 1858px #ffffff, 1370px 1493px #ffffff,
		108px 341px #ffffff, 615px 116px #ffffff, 196px 1682px #ffffff,
		1630px 625px #ffffff, 1271px 1598px #ffffff, 1720px 921px #ffffff,
		477px 326px #ffffff, 925px 1959px #ffffff, 1570px 1458px #ffffff,
		1555px 486px #ffffff, 335px 1445px #ffffff, 1437px 1906px #ffffff,
		1199px 705px #ffffff, 1068px 891px #ffffff, 1516px 1565px #ffffff,
		1273px 1049px #ffffff, 1053px 220px #ffffff, 1426px 577px #ffffff,
		788px 470px #ffffff, 704px 1410px #ffffff, 939px 801px #ffffff,
		1884px 833px #ffffff, 1494px 84px #ffffff, 1747px 83px #ffffff,
		1106px 1817px #ffffff, 1570px 584px #ffffff, 587px 1555px #ffffff,
		1782px 1336px #ffffff, 500px 628px #ffffff, 1029px 1587px #ffffff,
		1267px 361px #ffffff, 981px 657px #ffffff, 369px 372px #ffffff,
		1602px 151px #ffffff, 1320px 424px #ffffff, 750px 1050px #ffffff,
		1626px 50px #ffffff, 1311px 1942px #ffffff, 1564px 654px #ffffff,
		448px 1468px #ffffff, 287px 1912px #ffffff, 1269px 1079px #ffffff,
		996px 1522px #ffffff, 660px 1089px #ffffff, 751px 1923px #ffffff,
		97px 95px #ffffff, 1721px 1692px #ffffff, 21px 1874px #ffffff,
		1819px 1628px #ffffff, 563px 465px #ffffff, 786px 72px #ffffff,
		1610px 917px #ffffff, 510px 1931px #ffffff, 1234px 781px #ffffff,
		1006px 1369px #ffffff, 1015px 1037px #ffffff, 222px 591px #ffffff,
		1064px 1429px #ffffff, 549px 1326px #ffffff, 1869px 1664px #ffffff,
		1535px 1441px #ffffff, 1803px 808px #ffffff, 1686px 349px #ffffff,
		1683px 804px #ffffff, 918px 317px #ffffff, 723px 125px #ffffff,
		1578px 466px #ffffff, 1946px 111px #ffffff, 333px 1065px #ffffff,
		929px 1597px #ffffff, 1639px 716px #ffffff, 201px 1987px #ffffff,
		315px 239px #ffffff, 817px 910px #ffffff, 1731px 463px #ffffff,
		884px 1126px #ffffff, 918px 1590px #ffffff, 813px 467px #ffffff,
		13px 1465px #ffffff, 484px 1919px #ffffff, 1142px 1303px #ffffff,
		1496px 1135px #ffffff, 988px 424px #ffffff, 1991px 1505px #ffffff,
		207px 1569px #ffffff, 1025px 485px #ffffff, 797px 1645px #ffffff,
		344px 1625px #ffffff, 1442px 620px #ffffff, 1868px 1554px #ffffff,
		1217px 1118px #ffffff, 353px 383px #ffffff, 1223px 179px #ffffff,
		1481px 1698px #ffffff, 611px 1288px #ffffff, 762px 1845px #ffffff,
		654px 1062px #ffffff, 109px 116px #ffffff, 1135px 1692px #ffffff,
		1738px 1373px #ffffff, 1749px 235px #ffffff, 199px 770px #ffffff,
		1283px 115px #ffffff, 1350px 197px #ffffff, 553px 745px #ffffff,
		1490px 64px #ffffff, 1961px 65px #ffffff, 116px 294px #ffffff,
		382px 1675px #ffffff, 1386px 1192px #ffffff, 1479px 1618px #ffffff,
		1984px 1667px #ffffff, 1080px 1933px #ffffff, 939px 697px #ffffff,
		1251px 40px #ffffff, 1654px 395px #ffffff, 1063px 1440px #ffffff,
		1711px 852px #ffffff, 1035px 1904px #ffffff, 926px 378px #ffffff,
		1356px 279px #ffffff, 925px 1686px #ffffff, 1575px 32px #ffffff,
		1638px 1111px #ffffff, 752px 1017px #ffffff, 121px 974px #ffffff,
		231px 394px #ffffff, 1658px 985px #ffffff, 915px 402px #ffffff,
		1089px 530px #ffffff, 1745px 490px #ffffff, 1739px 42px #ffffff,
		347px 1578px #ffffff, 361px 174px #ffffff, 893px 1172px #ffffff,
		1464px 1129px #ffffff, 896px 1380px #ffffff, 1235px 526px #ffffff,
		258px 1568px #ffffff, 571px 140px #ffffff, 1592px 782px #ffffff,
		358px 1636px #ffffff, 862px 135px #ffffff, 514px 1300px #ffffff,
		228px 129px #ffffff, 831px 1513px #ffffff, 1026px 1364px #ffffff,
		1703px 1927px #ffffff, 567px 933px #ffffff, 430px 468px #ffffff,
		1757px 680px #ffffff, 1902px 1223px #ffffff, 289px 1264px #ffffff,
		1155px 1419px #ffffff, 1369px 1449px #ffffff, 468px 1716px #ffffff,
		1649px 1174px #ffffff, 1838px 1870px #ffffff, 492px 395px #ffffff,
		1194px 120px #ffffff, 980px 349px #ffffff, 476px 251px #ffffff,
		1227px 1961px #ffffff, 1309px 99px #ffffff, 126px 1289px #ffffff,
		289px 399px #ffffff, 655px 957px #ffffff, 1192px 383px #ffffff,
		630px 107px #ffffff, 733px 281px #ffffff, 1764px 1684px #ffffff,
		1259px 980px #ffffff, 106px 1504px #ffffff, 1696px 1325px #ffffff,
		241px 487px #ffffff, 1304px 1394px #ffffff, 139px 1837px #ffffff,
		931px 1432px #ffffff, 1px 855px #ffffff, 1645px 537px #ffffff,
		1516px 279px #ffffff, 1px 1453px #ffffff, 479px 410px #ffffff,
		442px 197px #ffffff, 1277px 610px #ffffff, 1552px 261px #ffffff,
		199px 1328px #ffffff, 1790px 1422px #ffffff, 925px 944px #ffffff,
		1022px 1331px #ffffff, 1835px 21px #ffffff, 1815px 1308px #ffffff,
		941px 1120px #ffffff, 1361px 1433px #ffffff, 1552px 833px #ffffff,
		1190px 1976px #ffffff, 1062px 1623px #ffffff, 1499px 1468px #ffffff,
		1063px 1202px #ffffff, 436px 1437px #ffffff, 1443px 217px #ffffff,
		1091px 620px #ffffff, 305px 114px #ffffff, 1577px 135px #ffffff,
		1233px 1999px #ffffff, 693px 846px #ffffff, 472px 842px #ffffff,
		1915px 649px #ffffff, 1643px 1304px #ffffff, 1779px 1402px #ffffff,
		1091px 198px #ffffff, 1960px 1803px #ffffff, 1074px 240px #ffffff,
		1548px 537px #ffffff, 1439px 150px #ffffff, 1151px 1055px #ffffff,
		835px 1793px #ffffff, 376px 509px #ffffff, 701px 1376px #ffffff,
		544px 1624px #ffffff, 1301px 261px #ffffff, 155px 1568px #ffffff,
		322px 438px #ffffff, 389px 189px #ffffff, 176px 1239px #ffffff,
		1153px 1795px #ffffff, 1363px 1840px #ffffff, 1362px 1020px #ffffff,
		1607px 1104px #ffffff, 932px 1341px #ffffff, 983px 636px #ffffff,
		1348px 405px #ffffff, 1944px 1480px #ffffff, 1975px 1105px #ffffff,
		223px 1416px #ffffff, 1979px 1793px #ffffff, 1690px 965px #ffffff,
		377px 1994px #ffffff, 647px 1858px #ffffff, 953px 1308px #ffffff,
		876px 806px #ffffff, 1718px 612px #ffffff, 125px 707px #ffffff,
		1368px 939px #ffffff, 1076px 485px #ffffff, 1298px 1180px #ffffff,
		456px 1121px #ffffff, 1767px 204px #ffffff, 1724px 1529px #ffffff,
		1379px 792px #ffffff, 1689px 992px #ffffff, 584px 1224px #ffffff,
		752px 1229px #ffffff, 1623px 1444px #ffffff, 297px 696px #ffffff,
		507px 419px #ffffff, 282px 1369px #ffffff, 1350px 1608px #ffffff,
		226px 1252px #ffffff, 1957px 687px #ffffff, 846px 612px #ffffff,
		7px 1774px #ffffff, 632px 1954px #ffffff, 1851px 1768px #ffffff,
		1605px 655px #ffffff, 1040px 1664px #ffffff, 1918px 1186px #ffffff,
		1978px 408px #ffffff, 892px 1726px #ffffff, 1991px 1633px #ffffff,
		995px 495px #ffffff, 1632px 1944px #ffffff, 806px 93px #ffffff,
		712px 810px #ffffff, 1284px 37px #ffffff, 1856px 874px #ffffff,
		1854px 929px #ffffff, 573px 1618px #ffffff, 845px 199px #ffffff,
		783px 1449px #ffffff, 1624px 140px #ffffff, 906px 994px #ffffff,
		1639px 1727px #ffffff, 1285px 415px #ffffff, 1533px 838px #ffffff,
		1895px 1077px #ffffff, 24px 885px #ffffff, 967px 1977px #ffffff,
		1478px 1582px #ffffff, 1790px 515px #ffffff, 1026px 1525px #ffffff,
		299px 385px #ffffff, 747px 1175px #ffffff, 1108px 1557px #ffffff,
		1692px 119px #ffffff, 1004px 885px #ffffff, 1552px 1175px #ffffff,
		1284px 1463px #ffffff, 320px 1217px #ffffff, 745px 1109px #ffffff,
		68px 836px #ffffff, 1516px 65px #ffffff, 1915px 1074px #ffffff,
		1270px 616px #ffffff, 347px 1051px #ffffff, 515px 536px #ffffff,
		375px 868px #ffffff, 717px 158px #ffffff, 1238px 470px #ffffff,
		1303px 276px #ffffff, 1333px 11px #ffffff, 1551px 293px #ffffff,
		1118px 1493px #ffffff, 1963px 1440px #ffffff, 631px 110px #ffffff,
		1802px 1616px #ffffff, 1645px 361px #ffffff, 1059px 585px #ffffff,
		1861px 146px #ffffff, 1513px 1051px #ffffff, 1286px 629px #ffffff,
		1848px 1566px #ffffff, 667px 1405px #ffffff, 1192px 929px #ffffff,
		617px 6px #ffffff, 1088px 1756px #ffffff, 1850px 288px #ffffff,
		1577px 445px #ffffff, 1715px 1717px #ffffff, 1779px 1950px #ffffff,
		948px 999px #ffffff, 643px 798px #ffffff, 1155px 88px #ffffff,
		1928px 73px #ffffff, 78px 1723px #ffffff, 523px 983px #ffffff,
		1636px 1071px #ffffff, 918px 665px #ffffff, 1221px 261px #ffffff,
		457px 1668px #ffffff, 711px 1816px #ffffff, 1506px 1263px #ffffff,
		1130px 1603px #ffffff, 1341px 1282px #ffffff, 1906px 1353px #ffffff,
		1681px 339px #ffffff, 1286px 1942px #ffffff, 408px 573px #ffffff,
		1309px 79px #ffffff, 310px 1110px #ffffff, 468px 1524px #ffffff,
		593px 1528px #ffffff, 1738px 199px #ffffff, 267px 1269px #ffffff,
		1113px 143px #ffffff, 631px 585px #ffffff, 873px 1367px #ffffff,
		1920px 792px #ffffff, 1120px 256px #ffffff, 1898px 1481px #ffffff,
		1562px 1859px #ffffff, 186px 193px #ffffff, 134px 1114px #ffffff,
		766px 986px #ffffff, 137px 417px #ffffff, 272px 1854px #ffffff,
		1965px 1758px #ffffff, 1171px 1923px #ffffff, 268px 892px #ffffff,
		952px 1827px #ffffff, 508px 287px #ffffff, 1237px 94px #ffffff,
		423px 256px #ffffff, 1654px 593px #ffffff, 1812px 1631px #ffffff,
		1009px 1643px #ffffff, 1547px 1384px #ffffff, 1052px 1587px #ffffff,
		1784px 1056px #ffffff, 702px 1519px #ffffff, 323px 1133px #ffffff,
		7px 149px #ffffff, 402px 802px #ffffff, 4px 1483px #ffffff,
		1657px 1604px #ffffff, 1758px 947px #ffffff, 1927px 340px #ffffff,
		290px 309px #ffffff, 16px 1319px #ffffff, 1210px 358px #ffffff,
		1120px 1617px #ffffff, 111px 1761px #ffffff, 1824px 1075px #ffffff,
		1948px 546px #ffffff, 1266px 1952px #ffffff, 1048px 1982px #ffffff,
		251px 1519px #ffffff, 463px 1551px #ffffff, 953px 1985px #ffffff,
		436px 1990px #ffffff, 118px 339px #ffffff, 926px 1534px #ffffff,
		1941px 40px #ffffff, 98px 1447px #ffffff, 374px 637px #ffffff,
		147px 961px #ffffff, 732px 1487px #ffffff, 27px 854px #ffffff,
		1277px 160px #ffffff, 1482px 210px #ffffff, 512px 1117px #ffffff,
		14px 1275px #ffffff, 1179px 1709px #ffffff, 1240px 1851px #ffffff,
		1456px 891px #ffffff, 835px 20px #ffffff, 1528px 1517px #ffffff,
		1839px 1463px #ffffff, 1544px 1911px #ffffff, 427px 17px #ffffff,
		974px 1897px #ffffff, 669px 13px #ffffff, 1365px 473px #ffffff,
		1831px 1658px #ffffff, 1928px 13px #ffffff, 489px 1387px #ffffff,
		1792px 1721px #ffffff, 858px 1231px #ffffff, 340px 148px #ffffff,
		1277px 839px #ffffff, 515px 1727px #ffffff, 583px 1722px #ffffff,
		579px 1501px #ffffff, 1421px 384px #ffffff, 1045px 195px #ffffff,
		1162px 1612px #ffffff, 1231px 715px #ffffff, 1745px 828px #ffffff,
		1432px 765px #ffffff, 1604px 582px #ffffff, 934px 226px #ffffff,
		284px 480px #ffffff, 429px 1752px #ffffff, 358px 712px #ffffff,
		1645px 1670px #ffffff, 1741px 988px #ffffff, 1439px 1857px #ffffff,
		1908px 621px #ffffff, 1381px 1033px #ffffff, 1503px 943px #ffffff,
		1920px 1555px #ffffff, 1122px 1624px #ffffff, 1793px 22px #ffffff,
		172px 1456px #ffffff, 245px 581px #ffffff, 1861px 742px #ffffff,
		1985px 88px #ffffff, 567px 1108px #ffffff, 1093px 1953px #ffffff,
		1895px 710px #ffffff, 658px 1140px #ffffff, 1551px 546px #ffffff,
		609px 637px #ffffff, 1146px 1319px #ffffff, 779px 1651px #ffffff,
		1777px 1709px #ffffff, 131px 1997px #ffffff, 2000px 733px #ffffff,
		1459px 1145px #ffffff, 1199px 1514px #ffffff, 1636px 542px #ffffff,
		361px 1304px #ffffff, 280px 1673px #ffffff, 782px 521px #ffffff,
		1923px 1532px #ffffff, 1792px 1116px #ffffff, 1089px 141px #ffffff,
		1460px 1452px #ffffff, 979px 1302px #ffffff, 1833px 554px #ffffff,
		1759px 1049px #ffffff, 1706px 603px #ffffff, 1687px 1628px #ffffff,
		847px 255px #ffffff, 185px 43px #ffffff, 1222px 1441px #ffffff,
		569px 1054px #ffffff, 79px 962px #ffffff, 1461px 136px #ffffff,
		1833px 14px #ffffff, 572px 1047px #ffffff, 1727px 1673px #ffffff,
		1437px 679px #ffffff, 1989px 829px #ffffff, 565px 1116px #ffffff,
		1439px 531px #ffffff, 41px 1416px #ffffff, 1833px 1277px #ffffff,
		1271px 147px #ffffff, 1039px 856px #ffffff, 1731px 671px #ffffff,
		1928px 1918px #ffffff, 51px 1716px #ffffff, 1716px 772px #ffffff,
		1807px 656px #ffffff, 556px 134px #ffffff, 1425px 845px #ffffff,
		1869px 1586px #ffffff, 169px 182px #ffffff, 1033px 478px #ffffff,
		1863px 218px #ffffff, 64px 1975px #ffffff, 760px 680px #ffffff,
		1043px 781px #ffffff, 28px 1308px #ffffff, 639px 1850px #ffffff,
		318px 216px #ffffff, 1045px 429px #ffffff, 549px 459px #ffffff,
		1583px 341px #ffffff, 1827px 89px #ffffff, 1495px 1773px #ffffff,
		1605px 980px #ffffff, 1237px 424px #ffffff, 1266px 318px #ffffff,
		867px 1487px #ffffff, 292px 1591px #ffffff, 1458px 906px #ffffff,
		1482px 665px #ffffff, 1483px 742px #ffffff, 349px 195px #ffffff,
		601px 1315px #ffffff, 1276px 1414px #ffffff, 1085px 1425px #ffffff,
		1698px 720px #ffffff, 1995px 1024px #ffffff, 601px 1923px #ffffff,
		428px 580px #ffffff, 260px 1401px #ffffff, 1241px 1809px #ffffff,
		890px 1977px #ffffff, 1693px 922px #ffffff, 1303px 1660px #ffffff,
		30px 1194px #ffffff, 720px 935px #ffffff, 1050px 341px #ffffff,
		146px 1948px #ffffff, 1382px 28px #ffffff, 851px 1590px #ffffff,
		1032px 553px #ffffff, 1358px 721px #ffffff, 867px 587px #ffffff,
		1640px 790px #ffffff, 1947px 1475px #ffffff, 15px 1666px #ffffff,
		899px 1123px #ffffff, 592px 1200px #ffffff, 1689px 1514px #ffffff,
		735px 1481px #ffffff, 1531px 1759px #ffffff, 1003px 777px #ffffff,
		1688px 427px #ffffff, 797px 1455px #ffffff, 783px 779px #ffffff,
		286px 1991px #ffffff, 708px 763px #ffffff, 173px 935px #ffffff,
		1295px 701px #ffffff, 1742px 888px #ffffff, 1741px 1072px #ffffff,
		948px 1591px #ffffff, 129px 1487px #ffffff, 1765px 756px #ffffff,
		868px 1806px #ffffff, 1089px 776px #ffffff, 455px 566px #ffffff,
		1939px 246px #ffffff, 570px 956px #ffffff, 663px 1043px #ffffff,
		1732px 739px #ffffff;
}

#stars2 {
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 264px 1609px #ffffff, 1183px 795px #ffffff, 1308px 1591px #ffffff,
		1400px 833px #ffffff, 1398px 518px #ffffff, 520px 916px #ffffff,
		1887px 1451px #ffffff, 844px 1557px #ffffff, 1394px 368px #ffffff,
		272px 1482px #ffffff, 661px 1772px #ffffff, 418px 1327px #ffffff,
		473px 1675px #ffffff, 386px 659px #ffffff, 868px 1886px #ffffff,
		1581px 93px #ffffff, 533px 880px #ffffff, 920px 822px #ffffff,
		123px 229px #ffffff, 167px 1231px #ffffff, 1408px 493px #ffffff,
		1544px 1933px #ffffff, 1397px 473px #ffffff, 483px 153px #ffffff,
		1951px 1114px #ffffff, 1121px 1810px #ffffff, 1780px 1428px #ffffff,
		460px 1627px #ffffff, 859px 87px #ffffff, 643px 583px #ffffff,
		1092px 351px #ffffff, 1524px 1010px #ffffff, 137px 940px #ffffff,
		1521px 1916px #ffffff, 1473px 1511px #ffffff, 1346px 664px #ffffff,
		702px 462px #ffffff, 508px 354px #ffffff, 1421px 250px #ffffff,
		1622px 787px #ffffff, 296px 1717px #ffffff, 323px 1927px #ffffff,
		753px 1828px #ffffff, 55px 207px #ffffff, 1492px 1753px #ffffff,
		1417px 993px #ffffff, 1054px 315px #ffffff, 1685px 591px #ffffff,
		182px 1967px #ffffff, 1602px 540px #ffffff, 542px 639px #ffffff,
		1625px 746px #ffffff, 361px 1535px #ffffff, 1001px 1377px #ffffff,
		1949px 550px #ffffff, 1378px 340px #ffffff, 1300px 797px #ffffff,
		1767px 342px #ffffff, 1844px 447px #ffffff, 466px 1064px #ffffff,
		1797px 220px #ffffff, 929px 502px #ffffff, 1832px 1050px #ffffff,
		80px 1457px #ffffff, 323px 1894px #ffffff, 1889px 1519px #ffffff,
		1032px 1012px #ffffff, 1807px 763px #ffffff, 731px 509px #ffffff,
		273px 9px #ffffff, 450px 148px #ffffff, 236px 1215px #ffffff,
		315px 59px #ffffff, 883px 290px #ffffff, 1269px 1714px #ffffff,
		1292px 255px #ffffff, 522px 1933px #ffffff, 951px 1901px #ffffff,
		755px 683px #ffffff, 1551px 1507px #ffffff, 1122px 1200px #ffffff,
		178px 993px #ffffff, 1459px 1519px #ffffff, 1765px 771px #ffffff,
		1859px 1967px #ffffff, 917px 1743px #ffffff, 1438px 1810px #ffffff,
		204px 859px #ffffff, 547px 358px #ffffff, 116px 729px #ffffff,
		1167px 825px #ffffff, 1398px 272px #ffffff, 971px 754px #ffffff,
		1313px 1592px #ffffff, 1317px 364px #ffffff, 1199px 477px #ffffff,
		446px 672px #ffffff, 1883px 844px #ffffff, 1481px 1581px #ffffff,
		1755px 1522px #ffffff, 1235px 1364px #ffffff, 573px 833px #ffffff,
		954px 1894px #ffffff, 1235px 1609px #ffffff, 892px 1842px #ffffff,
		151px 993px #ffffff, 1074px 1554px #ffffff, 48px 1458px #ffffff,
		1569px 1948px #ffffff, 1392px 313px #ffffff, 1668px 712px #ffffff,
		1689px 650px #ffffff, 408px 890px #ffffff, 1081px 665px #ffffff,
		186px 937px #ffffff, 689px 836px #ffffff, 966px 1237px #ffffff,
		655px 547px #ffffff, 323px 1549px #ffffff, 1141px 619px #ffffff,
		1778px 897px #ffffff, 1265px 1771px #ffffff, 505px 481px #ffffff,
		233px 602px #ffffff, 108px 379px #ffffff, 1847px 1841px #ffffff,
		1933px 967px #ffffff, 1634px 1275px #ffffff, 1311px 308px #ffffff,
		409px 417px #ffffff, 623px 1852px #ffffff, 14px 908px #ffffff,
		75px 373px #ffffff, 1148px 1943px #ffffff, 651px 1017px #ffffff,
		216px 1831px #ffffff, 845px 1366px #ffffff, 302px 1521px #ffffff,
		1151px 88px #ffffff, 1223px 677px #ffffff, 865px 1640px #ffffff,
		1224px 1319px #ffffff, 783px 613px #ffffff, 1714px 932px #ffffff,
		870px 1728px #ffffff, 474px 616px #ffffff, 1445px 1580px #ffffff,
		1138px 684px #ffffff, 909px 1298px #ffffff, 635px 188px #ffffff,
		1936px 1520px #ffffff, 971px 65px #ffffff, 1191px 1492px #ffffff,
		355px 1871px #ffffff, 858px 826px #ffffff, 1848px 1449px #ffffff,
		116px 1210px #ffffff, 1830px 759px #ffffff, 1972px 947px #ffffff,
		1489px 823px #ffffff, 1052px 230px #ffffff, 892px 725px #ffffff,
		384px 730px #ffffff, 1720px 986px #ffffff, 906px 139px #ffffff,
		1134px 1015px #ffffff, 1149px 1032px #ffffff, 673px 1298px #ffffff,
		1807px 1934px #ffffff, 479px 893px #ffffff, 1942px 820px #ffffff,
		465px 836px #ffffff, 376px 894px #ffffff, 1559px 1696px #ffffff,
		1945px 1389px #ffffff, 412px 1216px #ffffff, 210px 18px #ffffff,
		689px 1185px #ffffff, 1141px 1307px #ffffff, 224px 790px #ffffff,
		1421px 988px #ffffff, 1971px 1721px #ffffff, 267px 1564px #ffffff,
		169px 1001px #ffffff, 1269px 751px #ffffff, 1221px 278px #ffffff,
		964px 1611px #ffffff, 11px 683px #ffffff, 220px 471px #ffffff,
		1867px 124px #ffffff, 330px 279px #ffffff, 1446px 1194px #ffffff,
		1127px 397px #ffffff, 1191px 432px #ffffff, 54px 647px #ffffff,
		1931px 756px #ffffff, 11px 736px #ffffff, 1277px 1556px #ffffff,
		895px 1153px #ffffff, 727px 1217px #ffffff;
	animation: animStar 100s linear infinite;
}

#stars2:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 264px 1609px #ffffff, 1183px 795px #ffffff, 1308px 1591px #ffffff,
		1400px 833px #ffffff, 1398px 518px #ffffff, 520px 916px #ffffff,
		1887px 1451px #ffffff, 844px 1557px #ffffff, 1394px 368px #ffffff,
		272px 1482px #ffffff, 661px 1772px #ffffff, 418px 1327px #ffffff,
		473px 1675px #ffffff, 386px 659px #ffffff, 868px 1886px #ffffff,
		1581px 93px #ffffff, 533px 880px #ffffff, 920px 822px #ffffff,
		123px 229px #ffffff, 167px 1231px #ffffff, 1408px 493px #ffffff,
		1544px 1933px #ffffff, 1397px 473px #ffffff, 483px 153px #ffffff,
		1951px 1114px #ffffff, 1121px 1810px #ffffff, 1780px 1428px #ffffff,
		460px 1627px #ffffff, 859px 87px #ffffff, 643px 583px #ffffff,
		1092px 351px #ffffff, 1524px 1010px #ffffff, 137px 940px #ffffff,
		1521px 1916px #ffffff, 1473px 1511px #ffffff, 1346px 664px #ffffff,
		702px 462px #ffffff, 508px 354px #ffffff, 1421px 250px #ffffff,
		1622px 787px #ffffff, 296px 1717px #ffffff, 323px 1927px #ffffff,
		753px 1828px #ffffff, 55px 207px #ffffff, 1492px 1753px #ffffff,
		1417px 993px #ffffff, 1054px 315px #ffffff, 1685px 591px #ffffff,
		182px 1967px #ffffff, 1602px 540px #ffffff, 542px 639px #ffffff,
		1625px 746px #ffffff, 361px 1535px #ffffff, 1001px 1377px #ffffff,
		1949px 550px #ffffff, 1378px 340px #ffffff, 1300px 797px #ffffff,
		1767px 342px #ffffff, 1844px 447px #ffffff, 466px 1064px #ffffff,
		1797px 220px #ffffff, 929px 502px #ffffff, 1832px 1050px #ffffff,
		80px 1457px #ffffff, 323px 1894px #ffffff, 1889px 1519px #ffffff,
		1032px 1012px #ffffff, 1807px 763px #ffffff, 731px 509px #ffffff,
		273px 9px #ffffff, 450px 148px #ffffff, 236px 1215px #ffffff,
		315px 59px #ffffff, 883px 290px #ffffff, 1269px 1714px #ffffff,
		1292px 255px #ffffff, 522px 1933px #ffffff, 951px 1901px #ffffff,
		755px 683px #ffffff, 1551px 1507px #ffffff, 1122px 1200px #ffffff,
		178px 993px #ffffff, 1459px 1519px #ffffff, 1765px 771px #ffffff,
		1859px 1967px #ffffff, 917px 1743px #ffffff, 1438px 1810px #ffffff,
		204px 859px #ffffff, 547px 358px #ffffff, 116px 729px #ffffff,
		1167px 825px #ffffff, 1398px 272px #ffffff, 971px 754px #ffffff,
		1313px 1592px #ffffff, 1317px 364px #ffffff, 1199px 477px #ffffff,
		446px 672px #ffffff, 1883px 844px #ffffff, 1481px 1581px #ffffff,
		1755px 1522px #ffffff, 1235px 1364px #ffffff, 573px 833px #ffffff,
		954px 1894px #ffffff, 1235px 1609px #ffffff, 892px 1842px #ffffff,
		151px 993px #ffffff, 1074px 1554px #ffffff, 48px 1458px #ffffff,
		1569px 1948px #ffffff, 1392px 313px #ffffff, 1668px 712px #ffffff,
		1689px 650px #ffffff, 408px 890px #ffffff, 1081px 665px #ffffff,
		186px 937px #ffffff, 689px 836px #ffffff, 966px 1237px #ffffff,
		655px 547px #ffffff, 323px 1549px #ffffff, 1141px 619px #ffffff,
		1778px 897px #ffffff, 1265px 1771px #ffffff, 505px 481px #ffffff,
		233px 602px #ffffff, 108px 379px #ffffff, 1847px 1841px #ffffff,
		1933px 967px #ffffff, 1634px 1275px #ffffff, 1311px 308px #ffffff,
		409px 417px #ffffff, 623px 1852px #ffffff, 14px 908px #ffffff,
		75px 373px #ffffff, 1148px 1943px #ffffff, 651px 1017px #ffffff,
		216px 1831px #ffffff, 845px 1366px #ffffff, 302px 1521px #ffffff,
		1151px 88px #ffffff, 1223px 677px #ffffff, 865px 1640px #ffffff,
		1224px 1319px #ffffff, 783px 613px #ffffff, 1714px 932px #ffffff,
		870px 1728px #ffffff, 474px 616px #ffffff, 1445px 1580px #ffffff,
		1138px 684px #ffffff, 909px 1298px #ffffff, 635px 188px #ffffff,
		1936px 1520px #ffffff, 971px 65px #ffffff, 1191px 1492px #ffffff,
		355px 1871px #ffffff, 858px 826px #ffffff, 1848px 1449px #ffffff,
		116px 1210px #ffffff, 1830px 759px #ffffff, 1972px 947px #ffffff,
		1489px 823px #ffffff, 1052px 230px #ffffff, 892px 725px #ffffff,
		384px 730px #ffffff, 1720px 986px #ffffff, 906px 139px #ffffff,
		1134px 1015px #ffffff, 1149px 1032px #ffffff, 673px 1298px #ffffff,
		1807px 1934px #ffffff, 479px 893px #ffffff, 1942px 820px #ffffff,
		465px 836px #ffffff, 376px 894px #ffffff, 1559px 1696px #ffffff,
		1945px 1389px #ffffff, 412px 1216px #ffffff, 210px 18px #ffffff,
		689px 1185px #ffffff, 1141px 1307px #ffffff, 224px 790px #ffffff,
		1421px 988px #ffffff, 1971px 1721px #ffffff, 267px 1564px #ffffff,
		169px 1001px #ffffff, 1269px 751px #ffffff, 1221px 278px #ffffff,
		964px 1611px #ffffff, 11px 683px #ffffff, 220px 471px #ffffff,
		1867px 124px #ffffff, 330px 279px #ffffff, 1446px 1194px #ffffff,
		1127px 397px #ffffff, 1191px 432px #ffffff, 54px 647px #ffffff,
		1931px 756px #ffffff, 11px 736px #ffffff, 1277px 1556px #ffffff,
		895px 1153px #ffffff, 727px 1217px #ffffff;
}

#stars3 {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 1938px 1991px #ffffff, 859px 662px #ffffff, 1585px 375px #ffffff,
		1031px 245px #ffffff, 559px 1234px #ffffff, 979px 1901px #ffffff,
		968px 1087px #ffffff, 781px 338px #ffffff, 1890px 1754px #ffffff,
		1351px 1069px #ffffff, 1673px 1058px #ffffff, 1275px 1410px #ffffff,
		1760px 1050px #ffffff, 1062px 1441px #ffffff, 391px 1027px #ffffff,
		450px 1635px #ffffff, 369px 726px #ffffff, 579px 100px #ffffff,
		1080px 1555px #ffffff, 1940px 1532px #ffffff, 840px 32px #ffffff,
		1566px 1071px #ffffff, 1642px 963px #ffffff, 1031px 778px #ffffff,
		1054px 1881px #ffffff, 1528px 283px #ffffff, 1341px 270px #ffffff,
		1972px 1366px #ffffff, 447px 1091px #ffffff, 1951px 98px #ffffff,
		1375px 1354px #ffffff, 893px 452px #ffffff, 70px 1923px #ffffff,
		904px 293px #ffffff, 581px 521px #ffffff, 477px 1852px #ffffff,
		1272px 1719px #ffffff, 1776px 1539px #ffffff, 1657px 275px #ffffff,
		1317px 989px #ffffff, 1982px 337px #ffffff, 165px 1870px #ffffff,
		1228px 1060px #ffffff, 393px 950px #ffffff, 991px 1628px #ffffff,
		338px 1288px #ffffff, 833px 591px #ffffff, 1943px 1114px #ffffff,
		820px 592px #ffffff, 884px 299px #ffffff, 1274px 1195px #ffffff,
		1003px 1901px #ffffff, 792px 1776px #ffffff, 1523px 1055px #ffffff,
		947px 941px #ffffff, 685px 497px #ffffff, 1249px 970px #ffffff,
		744px 1685px #ffffff, 1490px 983px #ffffff, 590px 140px #ffffff,
		734px 1639px #ffffff, 1106px 1083px #ffffff, 1064px 1032px #ffffff,
		404px 521px #ffffff, 1245px 1623px #ffffff, 777px 176px #ffffff,
		1056px 33px #ffffff, 651px 1993px #ffffff, 1650px 434px #ffffff,
		1488px 1138px #ffffff, 456px 1580px #ffffff, 1001px 574px #ffffff,
		1256px 823px #ffffff, 329px 1249px #ffffff, 914px 1282px #ffffff,
		293px 1511px #ffffff, 1040px 1541px #ffffff, 151px 516px #ffffff,
		1176px 953px #ffffff, 344px 1189px #ffffff, 852px 1804px #ffffff,
		1863px 1914px #ffffff, 1658px 635px #ffffff, 347px 325px #ffffff,
		392px 1291px #ffffff, 199px 54px #ffffff, 704px 1042px #ffffff,
		218px 204px #ffffff, 946px 1896px #ffffff, 1772px 1060px #ffffff,
		1399px 180px #ffffff, 1249px 1642px #ffffff, 1863px 1643px #ffffff,
		363px 494px #ffffff, 1247px 63px #ffffff, 1140px 214px #ffffff,
		1670px 21px #ffffff, 1510px 182px #ffffff, 13px 1479px #ffffff,
		1686px 454px #ffffff;
	animation: animStar 150s linear infinite;
}

#stars3:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1938px 1991px #ffffff, 859px 662px #ffffff, 1585px 375px #ffffff,
		1031px 245px #ffffff, 559px 1234px #ffffff, 979px 1901px #ffffff,
		968px 1087px #ffffff, 781px 338px #ffffff, 1890px 1754px #ffffff,
		1351px 1069px #ffffff, 1673px 1058px #ffffff, 1275px 1410px #ffffff,
		1760px 1050px #ffffff, 1062px 1441px #ffffff, 391px 1027px #ffffff,
		450px 1635px #ffffff, 369px 726px #ffffff, 579px 100px #ffffff,
		1080px 1555px #ffffff, 1940px 1532px #ffffff, 840px 32px #ffffff,
		1566px 1071px #ffffff, 1642px 963px #ffffff, 1031px 778px #ffffff,
		1054px 1881px #ffffff, 1528px 283px #ffffff, 1341px 270px #ffffff,
		1972px 1366px #ffffff, 447px 1091px #ffffff, 1951px 98px #ffffff,
		1375px 1354px #ffffff, 893px 452px #ffffff, 70px 1923px #ffffff,
		904px 293px #ffffff, 581px 521px #ffffff, 477px 1852px #ffffff,
		1272px 1719px #ffffff, 1776px 1539px #ffffff, 1657px 275px #ffffff,
		1317px 989px #ffffff, 1982px 337px #ffffff, 165px 1870px #ffffff,
		1228px 1060px #ffffff, 393px 950px #ffffff, 991px 1628px #ffffff,
		338px 1288px #ffffff, 833px 591px #ffffff, 1943px 1114px #ffffff,
		820px 592px #ffffff, 884px 299px #ffffff, 1274px 1195px #ffffff,
		1003px 1901px #ffffff, 792px 1776px #ffffff, 1523px 1055px #ffffff,
		947px 941px #ffffff, 685px 497px #ffffff, 1249px 970px #ffffff,
		744px 1685px #ffffff, 1490px 983px #ffffff, 590px 140px #ffffff,
		734px 1639px #ffffff, 1106px 1083px #ffffff, 1064px 1032px #ffffff,
		404px 521px #ffffff, 1245px 1623px #ffffff, 777px 176px #ffffff,
		1056px 33px #ffffff, 651px 1993px #ffffff, 1650px 434px #ffffff,
		1488px 1138px #ffffff, 456px 1580px #ffffff, 1001px 574px #ffffff,
		1256px 823px #ffffff, 329px 1249px #ffffff, 914px 1282px #ffffff,
		293px 1511px #ffffff, 1040px 1541px #ffffff, 151px 516px #ffffff,
		1176px 953px #ffffff, 344px 1189px #ffffff, 852px 1804px #ffffff,
		1863px 1914px #ffffff, 1658px 635px #ffffff, 347px 325px #ffffff,
		392px 1291px #ffffff, 199px 54px #ffffff, 704px 1042px #ffffff,
		218px 204px #ffffff, 946px 1896px #ffffff, 1772px 1060px #ffffff,
		1399px 180px #ffffff, 1249px 1642px #ffffff, 1863px 1643px #ffffff,
		363px 494px #ffffff, 1247px 63px #ffffff, 1140px 214px #ffffff,
		1670px 21px #ffffff, 1510px 182px #ffffff, 13px 1479px #ffffff,
		1686px 454px #ffffff;
}
@keyframes animStar {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-2000px);
	}
}
